.search-pannel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 20px 0px;
}

.search-pannel {
  display: grid;
  width: 70%;
  height: 30px;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 540px){
  .search-pannel {
    width: 90%;
  }
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  padding: 10px;
}

.images-block {
  display: inline;
}

img {
  padding-top: 10px;
  cursor: pointer;
}

.group-title {
  margin-left: 40px;
}

button {
  color: white;
  outline: none;
  border: 1px solid #1A237E;
  border-radius: 5px;
  background-color: #2196F3;
}